# Ignore node_modules (except for dependencies copied in Dockerfile)
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
*.log

# Ignore build and dependencies in host machine
.next
.out
.cache

# Ignore environment files (for security)
.env
.env.local
.env.development
.env.production

# Ignore editor & OS-specific files
.vscode
.idea
.DS_Store
Thumbs.db